* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 10px auto;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.main {
  width: clamp(300px, 80%, 700px);
  margin: 10px auto;
}

.todo-list__display-todos {
  list-style-type: none;
}

.todo-list__delete-btn {
  margin-left: 10px;
}
